<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sumika.mapper.AddressBookMapper">

    <insert id="insert">
        insert address_book
            (user_id, defaul, phone, detailed_address, create_time, update_time)
        VALUES
            (#{userId},#{defaul},#{phone},#{detailedAddress},#{createTime},#{updateTime})
    </insert>
</mapper>